<header>
	<nav class="px-3 py-2 border-bottom fixed-top">
		<div class="container">
			<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start fiex">
				<a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-decoration-none">
					<svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
						<use xlink:href="#bootstrap" />
					</svg>
				</a>

				<ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
					<li>
						<form
							action="/usuarios"
							method="GET"
							class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"
							role="search"
							autocomplete="off"
						>
							<input
								id="buscar"
								type="search"
								class="form-control"
								placeholder="Buscar..."
								aria-label="Buscar"
								name="q"
							/>
							<ul id="autocompletar-busqueda" class="dropdown-menu text-small"></ul>
						</form>
					</li>
					<li>
						<a href="#" class="nav-link">
							<svg class="bi d-block mx-auto mb-1" width="24" height="24">
								<use xlink:href="#notifications" />
							</svg>
						</a>
					</li>
					<li class="dropdown text-end">
						<a
							href="#"
							class="d-block link-dark text-decoration-none dropdown-toggle"
							data-bs-toggle="dropdown"
							aria-expanded="false"
						>
							<img
								src="<%= usuarioLogeado.signedUrlUsuario %>"
								alt="foto de perfil de <%= usuarioLogeado.nombre %>"
								width="40"
								height="40"
								class="rounded-circle foto-perfil-nav"
							/>
						</a>
						<ul class="dropdown-menu text-small">
							<li>
								<a class="dropdown-item" href="/usuarios/<%= usuarioLogeado.nombre %>">Perfil</a>
							</li>
							<li><a class="dropdown-item" href="#">Settings</a></li>
							<li><a class="dropdown-item" href="#">Profile</a></li>
							<li><hr class="dropdown-divider" /></li>
							<li>
								<form
									action="/api/v1/usuarios/<%= usuarioLogeado._id %>/desconectar"
									method="post"
									class="dropdown-item"
								>
									<input type="submit" class="btn btn-primary" name="desconectarse" value="Desconectarse" />
								</form>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
