/********************************************** Tipografía **********************************************/

@font-face {
	font-family: "Caveat";
	src: url("../fonts/Caveat/Caveat-VariableFont_wght.ttf") format("truetype");
	font-style: normal;
}

.main-login h1 {
	font-family: "Caveat", cursive;
	font-size: 3rem;
	line-height: 1;
}

.main-login h1 + p {
	font-size: 1.1rem;
}

@media screen and (min-width: 800px) {
	.main-login h1 {
		font-size: 4rem;
	}

	.main-login h1 + p {
		font-size: 1.25rem;
	}
}

.main-login h1 > span {
	font-family: "Quicksand", sans-serif;
}

.main-login label {
	font-size: 1.1rem;
}

/********************************************** Lay-out **********************************************/

.background-radial-gradient {
	background-color: rgb(var(--body-bg));
	background-image: url(../images/trianglify.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.main-login,
.bg-glass {
	color: rgb(20, 18, 70);
}

.bg-glass {
	background-color: hsla(0, 0%, 100%, 0.9) !important;
	backdrop-filter: saturate(200%) blur(25px);
}

.main-login {
	min-height: 100vh;
}

@media screen and (min-width: 992px) {
	#login-btn,
	#signup-btn,
	.main-login .logo {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
}

.modal-body ul {
	list-style-type: none;
	padding: 0.5rem 0rem 1rem 0.5rem;
}
