/********************************************** Variables **********************************************/

:root {
	--body-bg: 248, 249, 250;
}

/********************************************** Tipografía **********************************************/

aside h2 {
	font-size: 1.4rem;
}

/********************************************** Lay-out **********************************************/

/******************************* Navbar *******************************/

nav {
	background-color: white;
}

.mostrar {
	display: inline-block;
}

input[type="search"] {
	padding-block: 0.6em;
}

.foto-perfil-nav {
	padding: 0.2rem;
	background-color: rgb(200, 200, 200);
	object-fit: cover;
}

/******************************* Index *******************************/

body {
	background-color: rgb(var(--body-bg));
}

.main {
	margin-top: 6rem;
	margin-inline: auto;
	width: min(90%, 1200px);
}

/******************** Contenido lateral ********************/

aside {
	height: min-content;
	position: sticky;
	top: 6rem;
}

aside #usuarios-recomendados {
	background-color: #fff;
	border: 1px solid #ddd;
	position: sticky;
}

aside a {
	text-decoration: none;
	color: inherit;
}

/******************* Contenido principal *******************/

.cont-timeline {
	margin-inline: auto;
	width: 600px;
}

.post-img {
	object-fit: cover;
}

.img-fav {
	cursor: pointer;
}

img.conf-icon {
	width: 16px;
}

/******************************* Perfil *******************************/

.contenedor-foto-perfil {
	display: inline-block;
	position: relative;
}

img.foto-perfil-icon {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	z-index: 1;
}

#editarFotoPerfil {
	text-align: left;
}

/******************************* Modales *******************************/

.modal-open {
	position: fixed;
	overflow-y: scroll !important;
	width: 100%;
	padding-right: 0 !important;
}

/******************************* Formularios *******************************/

.input-no-valido {
	border: 1px solid red;
}

.input-valido {
	border: 1px solid green;
}

.error-input {
	color: red;
}

.ocultar {
	display: none;
}
